name: Deploy to DigitalOcean Droplet

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Build Next.js
        run: npm run build

      - name: Copy project to Droplet (rsync)
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.DO_HOST }}
          username: root
          key: ${{ secrets.DO_SSH_KEY }}
          source: "."
          target: "/var/www/nextapp-temp"

      - name: Deploy on Droplet via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.DO_HOST }}
          username: root
          key: ${{ secrets.DO_SSH_KEY }}
          script: |
            # Replace old deployment with new one
            rm -rf /var/www/nextapp
            mv /var/www/nextapp-temp /var/www/nextapp

            cd /var/www/nextapp

            # Install only production dependencies
            npm install --production

            # Restart PM2
            pm2 reload nextapp || pm2 start npm --name "nextapp" -- start
